In [1]:
import pandas as pd
import sys
sys.path.append("../scripts/")
from loader import Extractor

In [3]:
data_extractor=Extractor()

In [13]:
dff = pd.read_csv('../data/20181030_d1_0930_1000.csv', sep="[,;:]", index_col=False, error_bad_lines=False)

c:\Users\hp\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)
c:\Users\hp\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3251: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
c:\Users\hp\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\io\parsers\readers.py:586: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  return _read(filepath_or_buffer, kwds)

In [14]:
dff.shape

(1202, 10)

In [15]:
dff.head()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,12.17,24.330972,37.977300,23.737767,25.7332,0.0254,0.1825,0.0
1,2,Motorcycle,20.23,24.277923,37.977367,23.737718,25.7179,0.0313,0.0632,0.0
2,3,Car,35.51,4.992897,37.977499,23.737686,26.7244,0.1780,0.2295,0.0
3,4,Car,46.01,5.595667,37.977569,23.737615,14.5899,-0.0727,-0.0416,0.0
4,5,Car,98.59,10.438637,37.977913,23.737224,0.0000,-0.0000,0.0000,0.0

In [16]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1202 entries, 0 to 1201
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   track_id     1202 non-null   int64
 1    type        1202 non-null   object
 2    traveled_d  1202 non-null   float64
 3    avg_speed   1202 non-null   float64
 4    lat         1202 non-null   float64
 5    lon         1202 non-null   float64
 6    speed       1202 non-null   float64
 7    lon_acc     1202 non-null   float64
 8    lat_acc     1202 non-null   float64
 9    time        1202 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 94.0+ KB

In [17]:
dff[' type'].value_counts()

 Car               456
 Motorcycle        385
 Taxi              276
 Medium Vehicle     46
 Bus                31
 Heavy Vehicle       8
Name:  type, dtype: int64

`Most of the vehicle types identified are of type car & Motorcycle`

In [12]:
dff.columns

Index(['track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time'], dtype='object')